{% extends "layout.html" %}

{% block content %}
<style>
    a.button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

        a.button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            a.button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        a.button:hover span {
            padding-right: 25px;
        }

            a.button:hover span:after {
                opacity: 1;
                right: 0;
            }

    a.button4 {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
        -webkit-appearance: button;
        -moz-appearance: button;
        text-decoration: none;
        color: initial;
    }

        a.button4:hover {
            background-color: #e7e7e7;
        }
</style>
<h2>About the project</h2>

<p>This is a project in a Data-Science course in school. It is part of the Final project of the semester, which has a 30% volume of my Finals grade in computer science.
   In this project, we are instructed to find a data set that interests us, and analyze it in a Flask web project template. I have chosen a data set of a few hundred recorded NBA games, and I will analyze it in this website.
   While completing the project, I have used many technological tools to help me complete it, such as Visual Studio, W3Schools and other websites that I have found using the internet.
</p>

<a href="https://docs.google.com/document/d/1pBtonKCqhLsMM5VGhD0Tz771wAKDJoJpakAjI5ADFXc/edit?usp=sharing" target="_blank" class="button button4"><span>Find out more</span></a>

{% endblock %}
