{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>Kobe Bryant's Career Game-Log</h2>
<h3>Every career game of Kobe Bryant</h3>
<p>Kobe Bryant, RIP, is a special player. He had a magnificent NBA Career spanning over 20 years, winning 5 NBA Championships, 1 NBA Most Valubale Player award and 2 NBA Finals Most Valubale Player awards. But the thing that made Kobe Bryant who he is is not his achivemnets as a basketball player, but his personality and never-ending desire to improve. Even after retiring from the NBA, he continued to be an active creator, writing his own book and even making a short animated film, which ended up winning the Oscar award for that catagory. His tragic demise on January 26th 2020 shocekd the world, and has left Bryant a place in every basketball fan's heart. </p>


<div class="row my-grid-borders">
    <h2>Data set fields</h2>
</div>
<div class="row my-grid-borders">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>G</td>
                <td>Game number</td>
            </tr>
            <tr>
                <td>Tm</td>
                <td>Team</td>
            </tr>
            <tr>
                <td>X</td>
                <td>Home (null) / away (@)</td>
            </tr>
            <tr>
                <td>Opp</td>
                <td>Opponent</td>
            </tr>
            <tr>
                <td>GS</td>
                <td>Started game (1) / didn't (0)</td>
            </tr>
            <tr>
                <td>MP</td>
                <td>Minutes Played</td>
            </tr>
            <tr>
                <td>FG</td>
                <td>Field Goals Made</td>
            </tr>
            <tr>
                <td>FGA</td>
                <td>Field Goals Attempted</td>
            </tr>
            <tr>
                <td>FG%</td>
                <td>Field Goals Percentage</td>
            </tr>
            <tr>
                <td>3P</td>
                <td>3 Pointers Made</td>
            </tr>
            <tr>
                <td>3PA</td>
                <td>3 Pointers Attempted</td>
            </tr>
            <tr>
                <td>3P%</td>
                <td>3 Pointer Percentage</td>
            </tr>
            <tr>
                <td>FT</td>
                <td>Free Throws Made</td>
            </tr>
            <tr>
                <td>FTA</td>
                <td>Free Throws Attempted</td>
            </tr>
            <tr>
                <td>FT%</td>
                <td>Free Throws Percentage</td>
            </tr>
            <tr>
                <td>ORB</td>
                <td>Offensive Rebounds</td>
            </tr>
            <tr>
                <td>DRB</td>
                <td>Defensive Rebounds</td>
            </tr>
            <tr>
                <td>TRB</td>
                <td>Total Rebounds</td>
            </tr>
            <tr>
                <td>AST</td>
                <td>Assists</td>
            </tr>
            <tr>
                <td>STL</td>
                <td>Steals</td>
            </tr>
            <tr>
                <td>BLK</td>
                <td>Blocks</td>
            </tr>
            <tr>
                <td>TOV</td>
                <td>Turnovers</td>
            </tr>
            <tr>
                <td>PF</td>
                <td>Personal Fouls</td>
            </tr>
            <tr>
                <td>PTS</td>
                <td>Points</td>
            </tr>
            <tr>
                <td>GmSc</td>
                <td>Game Score</td>
            </tr>
            <tr>
                <td>RSorPO</td>
                <td>Regular Season or Playoffs</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row my-grid-borders">
    {{ raw_data_table | safe}}
</div>


{% endblock %}