{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>Michael Jordan's Career Game-Log</h2>
<h3>Every career game of Michael Jordan</h3>
<p>Michael Jordan's NBA career spanned over 15 seasons, in which he has won 6 NBA championships, 5 NBA Most Valuable Player awards and 10 scoring titles. Many people to this day consider Jordan to be the greatest basketball player of all time and one of the greatest athletes in general, and he is the face of basketball for many people. Jordan became a global icon and helped the NBA to gain popularity all over the world and not just in the USA. He is now the owner of the Charlotte Hornets, and the Jordan sports brand.</p>


<div class="row my-grid-borders">
    <h2>Data set fields</h2>
</div>
<div class="row my-grid-borders">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>G</td>
                <td>Game number</td>
            </tr>
            <tr>
                <td>Tm</td>
                <td>Team</td>
            </tr>
            <tr>
                <td>X</td>
                <td>Home (null) / away (@)</td>
            </tr>
            <tr>
                <td>Opp</td>
                <td>Opponent</td>
            </tr>
            <tr>
                <td>GS</td>
                <td>Started game (1) / didn't (0)</td>
            </tr>
            <tr>
                <td>MP</td>
                <td>Minutes Played</td>
            </tr>
            <tr>
                <td>FG</td>
                <td>Field Goals Made</td>
            </tr>
            <tr>
                <td>FGA</td>
                <td>Field Goals Attempted</td>
            </tr>
            <tr>
                <td>FG%</td>
                <td>Field Goals Percentage</td>
            </tr>
            <tr>
                <td>3P</td>
                <td>3 Pointers Made</td>
            </tr>
            <tr>
                <td>3PA</td>
                <td>3 Pointers Attempted</td>
            </tr>
            <tr>
                <td>3P%</td>
                <td>3 Pointer Percentage</td>
            </tr>
            <tr>
                <td>FT</td>
                <td>Free Throws Made</td>
            </tr>
            <tr>
                <td>FTA</td>
                <td>Free Throws Attempted</td>
            </tr>
            <tr>
                <td>FT%</td>
                <td>Free Throws Percentage</td>
            </tr>
            <tr>
                <td>ORB</td>
                <td>Offensive Rebounds</td>
            </tr>
            <tr>
                <td>DRB</td>
                <td>Defensive Rebounds</td>
            </tr>
            <tr>
                <td>TRB</td>
                <td>Total Rebounds</td>
            </tr>
            <tr>
                <td>AST</td>
                <td>Assists</td>
            </tr>
            <tr>
                <td>STL</td>
                <td>Steals</td>
            </tr>
            <tr>
                <td>BLK</td>
                <td>Blocks</td>
            </tr>
            <tr>
                <td>TOV</td>
                <td>Turnovers</td>
            </tr>
            <tr>
                <td>PF</td>
                <td>Personal Fouls</td>
            </tr>
            <tr>
                <td>PTS</td>
                <td>Points</td>
            </tr>
            <tr>
                <td>GmSc</td>
                <td>Game Score</td>
            </tr>
            <tr>
                <td>RSorPO</td>
                <td>Regular Season or Playoffs</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row my-grid-borders">
    {{ raw_data_table | safe}}
</div>


{% endblock %}