{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>NBA Legends Comparison</h1>
    <h2>Data Science Project / Gadi Halevi</h2>
    <h3>New change</h3>
    <p>another change</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Project</h2>
        <p>
            In my opinion, basketball is one of the best sports to watch and play, and throughout it's history it has produced many iconic and influential charchters we all know. Michael Jordan, LeBron James and Kobe Bryant are people who many consider to be the greatest ever at what they did, and have all become much more than just basketball players, but real world icons to everyone. For me as a big time NBA fan, it is always fun to compare these 3 legends, so I have decided to dedicate my Data Science Project for this comparison.
        </p>
        <img src="https://img.pngio.com/michael-jordan-dribbling-transparent-png-stickpng-hd-michael-jordan-png-384_384.png" height="400" width="400" />

    </div>
    <div class="col-md-4">
        <h2>My sources</h2>
        <p>
            My source for this project was Basketball Reference. It is a
            branch of a major statistical data base called Sports Reference, a site that offers regular and
            advanced statistics for every major sport, and it's stats are accurate and valid even for games who
            occured 60 years ago or even more.
        </p>
        <img src="https://www.nicepng.com/png/full/17-176678_lebron-james-cavaliers-lebron-james-picture-png.png" height="425" width="200"/>

    </div>
    <div class="col-md-4">
        <h2>What am I asking?</h2>
        <p>
            My data sets are very in depth and offer countless questions I could ask, from comparing scoring numbers, through career highs to their year-by-year salaries. 
        </p>
        <img src="https://www.kindpng.com/picc/m/5-54109_kobe-bryant-scream-basketball-player-transparent-background-hd.png" width="400" height="400">

    </div>
</div>

{% endblock %}
