{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>NBA 50 Point games</h1>
    <h2>Data Science Project / Gadi Halevi</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Project</h2>
        <p>
            The
            NBA has been an active basketball league since 1946, more than 70 years of
            constant action and excitment. And when watching the game of basketball, what is more exciting
            and
            thrilling to watch than seeing a player explode and shoot the lights out? A 50 point game is a
            rare
            achievment for an NBA player, and it takes both skill and opprotunity to have one. I have chose
            to
            analyse all of the games in NBA history in which a player scored 50 or more points, and see how
            certain intangebles affect a player's chance at having one of those legendary games.
        </p>
        <img src="../imgs/NBA-logo.png" />

    </div>
    <div class="col-md-4">
        <h2>My sources</h2>
        <p>
            My source for this project was Basketball Reference. It is a
            branch of a major statistical data base called Sports Reference, a site that offers regular and
            advanced statistics for every major sport, and it's stats are accurate and valid even for games who
            occured 60 years ago or even more.
        </p>
        <p><a class="btn btn-default" href="https://www.basketball-reference.com/play-index/pgl_finder.cgi?request=1&match=game&year_min=1947&year_max=2019&is_playoffs=N&age_min=0&age_max=99&season_start=1&season_end=-1&pos_is_g=Y&pos_is_gf=Y&pos_is_f=Y&pos_is_fg=Y&pos_is_fc=Y&pos_is_c=Y&pos_is_cf=Y&c1stat=pts&c1comp=gt&c1val=50&order_by=pts">Basketball Reference &raquo;</a></p>
        <img src="../imgs/Download-Michael-Jordan-Transparent-Background-For-Designing-Projects.png" />

    </div>
    <div class="col-md-4">
        <h2>What am I asking?</h2>
        <p>
            One of the questions that crossed my mind when thinking about all of the
            50
            point NBA games is about positions. The game of basketball is divided to 5 positions: The point
            guard, shooting guard, small forward, power forward and center. Each position has it's own uniqe
            traits and they all play differntly than each other. So one of the many questions I would like to
            ask, is
            which
            position in basketball has the most 50 point games in NBA histoty?
        </p>
        <img src="../imgs/NBA_data_picture.png" />

    </div>
</div>

{% endblock %}
